.nave{
    background-color: $bg-color;
    ul{
        list-style:none;
        li a{
            padding: 20px 20px 0px 20px;
            display: block;
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
        .logo-plan{
            font-size: 48px;
            font-weight: 800;
        }
    }
}
