.portada{
    justify-content: center;
    align-items: center;
    background-color: $bg-color5;
    .p-cont1{
        padding: 40px 150px;
        .h1-tit{
            display: block;
            width: 100%;
            color: white;
            font-size: 72px;
            font-weight: 800;
        }
        .h1-p{
            color: white;
            font-size: 24px;
            font-weight: 300;

        }
        .h1-bt{
            font-size: 24px;
            background-color: transparent;
            padding: 15px;
            margin-top: 10px;
            width: 230px;
            color: white;
            border: 5px solid #fff;
            border-radius: 50px;
            transition: 0.5s;
            &:hover{
                width: 235px;
                border: 6px solid $bg-color2;
            }
        }
    }
    .p-art2{
        position: inherit;
        width: 500px;
        top: 50%;
        .port-img2{
            width: 100%;
            top: 50%;
            object-fit:cover;
            border-radius: 20px;
            border: solid 6px $bg-color3;
        }
    }
}



@media (max-width:1468px){
    .portada .p-cont1 , .p-cont2{
        padding: 60px;
        justify-items: center;
        justify-content: center;
    }
    
}
@media (max-width:1401px){
    .portada .p-cont1{
        padding: 40px;
        justify-items: center; 
        .h1-tit{
            text-align: center;
        }
        .h1-p{
            text-align: center;
        }
    }
    .p-cont2{
        width: 100%;
        justify-content: center;
    }   
}
@media (max-width:1200px){
    .portada .p-cont1 , .p-cont2{
        padding: 60px;
        justify-items: center;
        justify-content: center;
    }
    .portada .p-art2{
        margin-bottom: 40px;
    }  
 
}
@media (max-width:851px){
    .portada .p-cont1{
        padding: 40px;
        justify-items: center; 
        .h1-tit{
            font-size: 58px;
            text-align: center;
        }
        .h1-p{
            font-size: 20px;
            margin-top: 30px;
            text-align: center;
        }
        .h1-bt{
            font-size: 18px;
            padding: 10px;
            width: 180px;
            text-align: center;
        }   
    }
    .portada .p-art2{
        width: 400px;
    }    
}

@media (max-width:550px){
    .portada .p-cont1{
        align-items: center;
        padding: 60px;
        .h1-tit{
            font-size: 48px;
            text-align: center;
        }
        .h1-p{
            font-size: 16px;
            margin-top: 30px;
            text-align: center;
        }
        .h1-bt{
            font-size: 18px;
            padding: 10px;
            width: 180px;
            justify-self: center;
            
        }
    }
}